div.nav {
    display: flex;
    flex-direction: row;
}

div.nav span {
    flex-basis: 10em;
    align-items: center;
    text-align: center;
    background-color: cyan;
}

div.nav span:hover {
    background-color: red;
}

div.container ::first-line {
    font-weight: bold;
}

div.container p:nth-child(odd):first-letter {
    color: red;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    border: solid black;
}

div.container p:nth-child(3):first-line {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}